
body {
  background-color: rgb(42, 38, 43);
  background-image: url("https://wallpapers.com/images/featured/minecraft-s2kxfahyg30sob8q.jpg");
}

#board {
  width: 440px;
  height: 440px;
  border: 4px solid rgb(255, 255, 255);
  background-color: black;
  position: relative;
}

#walker {
  background-color: rgb(87, 0, 128);
  width: 50px;
  height: 50px;
  position: absolute;
  left: 196px;  /* Uncomment if you want to set a "starting" position */
  top: 196px;   /* Uncomment if you want to set a "starting" position */
  border-radius: 50px;
}
