
body {
  background-color: rgb(37, 37, 37);
  background-image: url("https://wallpapers.com/images/hd/cool-red-background-y1cobqb0l6f4rwcd.jpg");
}

#board {
  width: 1900px;
  height: 800px;
  border: 1px solid white;
  background-color: black;
  position: absolute;
  top: 100px;
}

#ball {
  background-color: rgb(255, 0, 0);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position: absolute;
  left: 942px;
  top: 450px;
}

#centerLine {
  background-color: rgb(255, 255, 255);
  width: 1px;
  height: 790px;
  position: absolute;
  top: 103px;
  left: 954px;
  border-style: dotted;
}

#leftPaddle {
  background-color: rgb(255, 255, 255);
  width: 20px;
  height: 170px;
  border-radius: 15px;
  position: absolute;
  top: 407px;
  left: 50px;
}

#rightPaddle {
  background-color: rgb(255, 255, 255);
  width: 20px;
  height: 170px;
  border-radius: 15px;
  position: absolute;
  top: 407px;
  left: 1845px;
}

.score {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 20px;
}

#player1Score {
  color: white;
  font-size: 100px;
  position: absolute;
  top: -5px;
  left: 20px;
}

#player2Score {
  color: white;
  font-size: 100px;
  position: absolute;
  top: -5px;
  right: 20px;
}

#superPong {
  color: white;
  font-size: 40px;
  position: absolute;
  top: -13px;
  left: 48%;
  transform: translateX(-50%);
}