
body {
  background-color: rgb(42, 38, 43);
  background-image: url("https://wallpapers.com/images/featured/minecraft-s2kxfahyg30sob8q.jpg");
}

#board {
  width: 440px;
  height: 440px;
  border: 4px solid rgb(255, 255, 255);
  background-color: black;
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: green;
  z-index: 2;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
  background-color: red;
  z-index: 1;
}